*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li,ul,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

.header-title{
    background-color: blueviolet;
    text-align: center;
    font-size: 30px;
    color: white;
    padding: 20px;
    font-weight: bold;
}

.card{
    margin-top: 40px;
}

input{
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    width: 100%;
}

::placeholder{
    color: white;
}


.todo-items{
    border-bottom: 1px solid rgb(215, 213, 213);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}